.about-us {
    padding: 50px 0;
    text-align: center;
    background-color: #f0f0f0; /* Light gray background */
    display: flex;
    flex-direction: column; /* Set flex direction to column */
  }
  
  .about-us h2 {
    font-family: 'Amatic SC', cursive; /* Attractive font */
    font-size: 48px; /* Increase header size */
    margin-bottom: 20px;
  }
  
  .branches-container {
    margin-bottom: 50px;
  }
  
  .branch-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between the grid items */
    justify-items: center; /* Center items horizontally */
  }
  
  .branch {
    text-align: left;
    flex-direction: column;
    width: 100%; /* Full width in grid */
    max-width: 300px; /* Max width for grid items */
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .branch img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .branch h3 {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .branch p {
    padding: 10px;
    font-size: 16px;
  }
  
  /* Contact Details */
  .contact-details {
    margin-top: 50px;
  }
  
  .contact-details h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .contact-details p {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .contact-icons {
    margin-top: 20px;
  }
  
  .contact-icons a {
    margin: 0 10px;
    font-size: 30px;
    color: #333; /* Icon color */
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .contact-icons a:hover {
    color: #007bff; /* Color change on hover */
  }
  
  .icon {
    margin: 0 10px;
  }
  .bb
  {
    font-size: 30px;
    font-style: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .bc
  {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }